@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500&display=swap");

:root {
  --background-color: #353d4f;
  --background-color-btn: linear-gradient(
    89.51deg,
    #ff7580 0.81%,
    #ff9187 35.87%,
    #ffc3a0 89.37%
  );
  --background-hover-btn: linear-gradient(
    89.51deg,
    #cd5f68 0.81%,
    #df7f76 35.87%,
    #eab393 89.37%
  );
  --background-nav: #283041;
  --text-color-primary: #cecfd3;
  --text-color: #e4e5e7;

  --box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  height: 90%;
}

body {
  height: 100%;
}

/* HEADER STYLES */
.header-one {
  font-size: 34px;
  font-weight: 400;
}

.header-two {
  font-size: 22px;
  font-weight: 700;
}

.header-three {
  font-size: 15px;
  font-weight: 300;
}

.header-four {
  font-size: 15px;
}

.header-six {
  font-size: 15px;
  font-weight: 300;
}

/* TEXT-LINK STYLES */
.link {
  text-decoration: none;
  color: var(--text-color);
}

.link:hover {
  text-decoration: underline;
  color: var(--text-color);
}

/* BUTTON STYLES */
.btn {
  background: var(--background-color-btn);
  box-shadow: var(--box-shadow);
  font-size: 17px;
  width: 20rem;
  height: 3.6rem;
  margin: 1rem;
}

.btn:hover {
  background: var(--background-hover-btn);
}

.btn-text {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 300;
  line-height: 0px;
}

.small-btn {
  background: var(--background-color-btn);
  box-shadow: var(--box-shadow);
  width: auto;
  height: 3rem;
  margin: 1rem;
}

.xsmall-btn {
  background: var(--background-color-btn);
  box-shadow: var(--box-shadow);
  width: auto;
  height: 2rem;
}

.on {
  color: rgb(230, 15, 15);
}
.off {
  color: rgb(3, 3, 3);
}

/* CONTAINER STYLES */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-msg {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INPUT FIELD STYLES */
.input-field {
  background: #5d6475;
  box-shadow: var(--box-shadow);
  font-size: 17px;
  width: 20rem;
  height: 3.6rem;
  margin: 1rem;
  padding: 20px;
  border-radius: 20px;
  border: 0;
}
.input-field-small {
  background: #5d6475;
  box-shadow: var(--box-shadow);
  font-size: 15px;
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  padding: 20px;
  border-radius: 20px;
  border: 0;
}

.input-field-small::placeholder {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 300;
}

.input-field::placeholder {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 300;
}

.input-field-small:focus {
  outline: none;
}

.input-field:focus {
  outline: none;
}

/* NAVBAR STYLES */
.nav-wrapper {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--background-nav);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding-top: 3.5rem;
}

li {
  padding: 18px 10px;
  background-color: var(--background-nav);
}

.navbar-toggler-icon {
  background: var(--background-nav);
}

.footer {
  height: 10%;
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
}
